fastapi
mangum
openai
requests
python-decouple
autopep8
certifi
charset-normalizer
click
et-xmlfile
idna
itsdangerous
Jinja2
MarkupSafe
numpy==1.21.5
openpyxl
pandas
pandas-stubs
pycodestyle
python-dateutil
pytz
six
toml
tqdm
urllib3
Werkzeug
